<ion-header>
  <ion-toolbar color="primary">
      <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
    <ion-title>
      L.A. Beer Week
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img src="../assets/brew-imgs/LABWbanner.jpg">
  <ion-grid>
      <ion-row>
        <ion-col size-md="8" offset-md="2" text-center>
  <!-- <ion-button style="display:block;margin:auto;font-size:1.5em;"  href="/tabs/tab1">Purchase Tickets</ion-button> -->

<ion-card style="display:block;margin:auto;">
  <ion-card-header>
    <ion-card-title style="font-size:2em;">
     What is Beer Week?
    </ion-card-title>
    <ion-card-subtitle>
    </ion-card-subtitle>
  </ion-card-header>
  
  <ion-card-content >
    <p style="font-size: 1.7em;">L.A. Beer Week was founded in 2009 by a group of dedicated beer enthusiasts
      and community members. 
      Entering its 11th year in 2019, L.A. Beer Week will be produced by the 
      Los Angeles County Brewers Guild; 
      a 80+ brewery strong non-profit organization dedicated to fostering the 
      culture of #LAbeer.

      LA Beer Week will feature an L.A. Brewers Beer Week Kickoff festival 
      at Los Angeles Center Studios on 
      Saturday, June 15th which will be the flagship to a week's worth of 
      great events all throughout the City of Angels.</p>
  </ion-card-content>
</ion-card>
</ion-col>
</ion-row>
</ion-grid>
</ion-content>


